.card-pos {
  border: 3px solid #34495E;
  padding: 32px 24px;
  margin: 5px;
  transition: all 0.3s ease-out;
} 
.card-pos:hover {
  border: 3px solid #00838d;
  box-shadow: 0px 0px 9999px 9999px rgba(151, 151, 151, 0.247);
  z-index: 500;
  transition: all 0.3s ease-out;
}

.pad{
  padding: 5px;
}

